<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница не найдена - Quiz App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            background: rgb(49, 170, 160);
        }

        .center-block {
            background: white;
            border-radius: 60px;
            justify-content: center;
            align-items: center;
        }

        .quiz-block {
            background-color: rgba(0, 0, 0, 0.212);
            border-radius: 60px;
            word-wrap: break-word;
            overflow: auto;
        }

        .navbar {
            background-color: rgba(166, 211, 224, 0.9);
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark py-3">
        <div class="container">
            <a href="/" style="font-size: 37px" class="navbar-brand">Quiz App</a>
        </div>
    </nav>

    <div class="container pt-5">
        <div class="row pt-5">
            <div class="col-sm-12 center-block mx-auto text-center mt-3 p-4">
                <h1>404</h1><br>
                <h2>Страница не найдена</h2>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
</body>

</html>